{
    email {$ACME_EMAIL}
    acme_dns cloudflare {$CF_DNS_API_TOKEN}
}

{$BASE_DOMAIN}:{$JELLYFIN_HTTPS_PORT} {
    reverse_proxy jellyfin:8096 {
        header_up Host {host}
        header_up X-Real-IP {remote_host}
        header_up X-Forwarded-For {remote_host}
        header_up X-Forwarded-Proto https
        header_up X-Forwarded-Host {host}
    }
}

{$BASE_DOMAIN}:{$QBIT_HTTPS_PORT} {
    reverse_proxy qbittorrent:8080 {
        header_up Host {host}
        header_up X-Real-IP {remote_host}
        header_up X-Forwarded-For {remote_host}
        header_up X-Forwarded-Proto https
        header_up X-Forwarded-Host {host}
    }
}

{$BASE_DOMAIN}:{$OPENLIST_HTTPS_PORT} {
    reverse_proxy openlist:5244 {
        header_up Host {host}
        header_up X-Real-IP {remote_host}
        header_up X-Forwarded-For {remote_host}
        header_up X-Forwarded-Proto https
        header_up X-Forwarded-Host {host}
    }
}
